<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
         .fig {
          text-align: center;
         }
         .lr {
          text-align: left;
         }
         #id02{
            word-spacing: 40px;
         }
        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
        crossorigin="anonymous">
        <title>Выбор мест</title>
</head>
<body>
    {% set k = quantity %}
    {% set m = matrix %}
    {% set cnt = [0] %}
    <h1 align="center"><div class="alert alert-dark" role="alert">Осталось выбрать {{check_correct(k)}}</div></h1>
    <table align="center" width=30% height=20 >
        {% for row in range(8) %}
        <tr>
            {% for item in range(10) %}
                {% if cnt.append(cnt.pop() + 1) %}{% endif %}
                {% if m[row][item] == 0 %}
                    <form action="/process_data/{{cnt[0]}}" method="POST">
                    <td><input type="submit" class="btn btn-success" value="Выбрать"></td></form>
                {% elif m[row][item] == 1 %}
                     <td><button type="button" class="btn btn-danger">Занято!!!</button> </td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>